<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head('Bangumix')"></head>
<body>

<table>
  <thead>
  <tr><th>动画名</th>
    <th>导演</th>
    <th>概要</th>
    <th>分数</th>
    <th>标签</th>
  </tr></thead>
  <tbody><tr th:each="anime: ${animes}">
    <td><a th:href="@{/anime(animeName=${anime.animeName})}" th:text="${anime.animeName}"></a></td>
    <td><p th:text="${anime.directorName}"></p></td>
    <td><p th:text="${anime.synopsis}"></p></td>
    <td><p th:text="${anime.rank}"></p></td>
    <td><div th:each="tag: ${anime.tags}"><p th:text="${tag}"></p></div></td>
  </tr></tbody>
</table>

<a th:unless="${user != null}" th:href="@{/login}" th:text="登陆"></a>
<a th:unless="${user != null}" th:href="@{/register}" th:text="注册"></a>
<a th:if="${user != null}" th:href="@{/logout}" th:text="注销"></a>

<form th:if="${user != null}" th:action="@{/add/anime}" method="post">
  <label>动画名:</label>
  <input type="text" name="animeName"/>
  <label>导演:</label>
  <input type="text" name="directorName"/>
  <label>概要:</label>
  <input type="text" name="synopsis"/>
  <input type="submit" name="提交"/>
</form>

<p th:unless="${#strings.isEmpty(errorMessage)}" th:text="${errorMessage}"></p>

</body>
</html>